$color-brand-google: #DB4437;
$color-brand-facebook: #3B5998;
$color-brand-twitter: #1DA1F2;
$color-brand-vk: #45668E;
$color-brand-pinterest: #BD081C;
$color-brand-snapchat: #FFFC00;
$color-brand-linkedin: #0077B5;

$color-text-default: #3b6c89;
$color-text-success: #60941b;
$color-text-failure: #941b1b;
$color-bg-positive: #eaffe1;
$color-bg-negative: #fbeded;

.color-text-success {
    color: $color-text-success;
}

.color-text-failure {
    color: $color-text-failure;
}
