.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* general styles */
ul {
  padding: 0;
  list-style: none;
}
.fs-2 {
  font-size: 2rem;
}

.total-result {
  background: dodgerblue;
  color: white;
  width: 25%;
  text-align: center;
  border-radius: 0.2rem;
  padding: 0.5rem 0;
  font-size: 1.2rem;
}

/* incident list styles */
.incidents-list li {
  border-radius: 0.2rem;
  display: flex;
}
.incidents-list li:nth-child(2n + 1) {
  background: #8080801a;
}

.incidents-list li .stolen-item-image {
  height: 12rem;
  width: 15%;
  margin: 1rem;
}

.incidents-list li .details {
  width: 55%;
  margin: 1rem 2rem;
}
.incidents-list li .date-details {
  width: 30%;
  margin: 1rem 0;
  align-self: center;
}
.incidents-list li .date-details span {
  line-height: 2rem;
}

/* search loading styles */
.search-loading {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  width: 30%;
}
.show {
  display: inline-block;
}
.hide {
  display: none;
}

/* nav link styles */
.nav-link-container {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}
.nav-link {
  color: white;
  background-color: dodgerblue;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 0.2rem;
  margin: 0 0.5rem;
}

.greyed-out {
  background: #808080;
  opacity: 0.5;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
