# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
*/node_modules
/.vscode
/.pnp
.pnp.js

# testing
/coverage

# production
*/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

[
  {
    id: 117899,
    title: 'Inlet Clogged/Flooding',
    description:
      'At the SW corner of SW Lane & SW 19th someone on something or a phych patirent just put a 10 speed bike tire and rim into the storm drain inlet.',
    address: '1901 Sw Lane St Topeka, KS 66604, USA',
    occurred_at: 1590274803,
    updated_at: 1590279323,
    url: 'https://bikewise.org/api/v1/incidents/117899',
    source: {
      name: 'SeeClickFix.com',
      html_url: 'https://seeclickfix.com/issues/7864054',
      api_url: 'https://seeclickfix.com/api/v2/issues/7864054',
    },
    media: {
      image_url:
        'https://seeclickfix.com/files/issue_images/0173/5491/img-image-1511646137074375532843207.jpg',
      image_url_thumb:
        'https://seeclickfix.com/files/issue_images/0173/5491/img-image-1511646137074375532843207_square.jpg',
    },
    location_type: null,
    location_description: null,
    type: 'Unconfirmed',
    type_properties: null,
  },
  {
    id: 117892,
    title: 'Stolen 2013 Specialized Ariel Sport(black and white)',
    description:
      "Some time between May 3-22 she went missing from my apartment building's locked basement storage. I last rode the bike and stored it on May 3, and only discovered it was gone on May 22.",
    address: 'Richmond, VA, 23220',
    occurred_at: 1590264933,
    updated_at: 1590278436,
    url: 'https://bikewise.org/api/v1/incidents/117892',
    source: {
      name: 'BikeIndex.org',
      html_url: 'https://bikeindex.org/bikes/743282',
      api_url: 'https://bikeindex.org/api/v1/bikes/743282',
    },
    media: {
      image_url:
        'https://files.bikeindex.org/uploads/Pu/251685/large_20200522_165045.jpg',
      image_url_thumb:
        'https://files.bikeindex.org/uploads/Pu/251685/small_20200522_165045.jpg',
    },
    location_type: null,
    location_description: null,
    type: 'Theft',
    type_properties: null,
  },
];


{
  "id": 112697,
  "title": "Stolen 2017 BULLS Bikes Copperhead 3 RS(black)",
  "description": "",
  "address": "Neubrandenburg, 17033, DE",
  "occurred_at": 1579978800,
  "updated_at": 1587578605,
  "url": "https://bikewise.org/api/v1/incidents/112697",
  "source": {
    "name": "BikeIndex.org",
    "html_url": "https://bikeindex.org/bikes/689044",
    "api_url": "https://bikeindex.org/api/v1/bikes/689044"
  },
  "media": {
    "image_url": "https://files.bikeindex.org/uploads/Pu/217889/large_Bulls_Copperhead_3_RS.jpg",
    "image_url_thumb": "https://files.bikeindex.org/uploads/Pu/217889/small_Bulls_Copperhead_3_RS.jpg"
  },
  "location_type": null,
  "location_description": null,
  "type": "Theft",
  "type_properties": null
}