.SearchPanel {
  form{
    text-align: center;

    .inline {
      display: inline-block;
      margin-right: 10px;
      margin-top: 20px;
    }

    .date {
      display: inline-block;
      margin-right: 10px;
    }
  }

  .errorMessage {
    color: red;
    font-weight: bold;
  }
}
