.SearchPanel {
  form{
    display: grid;
    // TODO move to the next row if not fit
    grid-template-columns: auto fit-content(180px)  fit-content(180px)  90px;
    grid-column-gap: 10px;
    align-items: end;
  }

  .errorMessage {
    color: red;
    font-weight: bold;
  }
}
