.pagination__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pagination__item {
    margin: 1rem;
    font-weight: bold;
}

.pagination__item.current{
    margin: 1rem;
    background: #1e2023;
    border-color: #1e2023;
}

.pagination__item:hover,
.pagination__item:active {
    cursor: pointer;
}
