@import url("https://fonts.googleapis.com/css?family=Lato:400,900");

:root {
  --primary-color: #3a3550;
  --secondary-color: #dfab82;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //100% of browser default font size = 16px
  //62.5% therefore = 10px (10/16)
  font-size: 62.5%;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400; //700
  line-height: 1.7;
  color: #000;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
  list-style-type: none;
  padding: 0;
}

