@import url("https://fonts.googleapis.com/css?family=Lato:400,900");

:root {
  --primary-color: #262262;
  --secondary-color: #dfab82;
  --text-color-lite: #777;
  --text-color-dark: #333;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //100% of browser default font size = 16px
  //62.5% therefore = 10px (10/16)
  font-size: 62.5%;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400; //700
  line-height: 1.7;
  color: #000;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
  list-style-type: none;
  padding: 0;
}
.sectWrap{
  margin-top: 2rem;
  width: 100%;
  height: 58rem;
  overflow-y: auto;
  padding: 2rem 0;
  font-size: 1.4rem;
  color: #000;
}
.sectWrap__header--controls{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: .1rem solid var(--text-color-lite);
  padding-bottom: .6rem;
}