.hero-image {
    /* background-image: url(~../hero.png); */
    width: 100%;
    background-position: center;
    background-size: cover;
}

.map-row {
    min-height: 320px;
    width: 100%;
    overflow: auto;
}

body {
    display: block;
    font-family: "Open Sans", sans-serif;
}